./Front-End/my-app/node_modules
# dependencies
./Front-End/my-app/.pnp
./Front-End/my-app/pnp.js

# testing
./Front-End/my-app/coverage

# production
./Front-End/my-app/build

# misc
./Front-End/my-app/.DS_Store
./Front-End/my-app/.env.local
./Front-End/my-app/.env.development.local
./Front-End/my-app/.env.test.local
./Front-End/my-app/.env.production.local

./Front-End/my-app/npm-debug.log*
./Front-End/my-app/yarn-debug.log*
./Front-End/my-app/yarn-error.log*


./Back-End/flight-search/HELP.md
./Back-End/flight-search/.gradle
./Back-End/flight-search/build/
./Back-End/flight-search/!gradle/wrapper/gradle-wrapper.jar
./Back-End/flight-search/!**/src/main/**/build/
./Back-End/flight-search/!**/src/test/**/build/

### STS ###
./Back-End/flight-search/.apt_generated
./Back-End/flight-search/.classpath
./Back-End/flight-search/.factorypath
./Back-End/flight-search/.project
./Back-End/flight-search/.settings
./Back-End/flight-search/.springBeans
./Back-End/flight-search/.sts4-cache
./Back-End/flight-search/bin/
./Back-End/flight-search/!**/src/main/**/bin/
./Back-End/flight-search/!**/src/test/**/bin/

### IntelliJ IDEA ###
./Back-End/flight-search/.idea
./Back-End/flight-search/*.iws
./Back-End/flight-search/*.iml
./Back-End/flight-search/*.ipr
./Back-End/flight-search/out/
./Back-End/flight-search/!**/src/main/**/out/
!./Back-End/flight-search/**/src/test/**/out/

### NetBeans ###
./Back-End/flight-search/nbproject/private/
./Back-End/flight-search/nbbuild/
./Back-End/flight-search/dist/
./Back-End/flight-search/nbdist/
./Back-End/flight-search/.nb-gradle/

### VS Code ###
.vscode/